<%- include ("partials/header") %>

<div class="ui form text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" method="POST">
        <div class="field">
            <label>Blog Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Add Image</label>
            <input type="text" name="blog[image]" placeholder="Image Url">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui inverted big violet button">
            Submit
        </button>
    </form>
  </div>

<%- include ("partials/footer") %>